<h1 style="color: blue; font-size: 24px;">Welcome to the Weather Forecast App!</h1>
<p style="font-style: italic;">Get the latest weather forecast for your location.</p>

<%= render 'forecasts/forecast_search', label_cta: "Enter your address for a weather forecast:" %>

